.outer {
  display: flex;
}
.outer .inner {
  position: relative;
  display: block;
  color: #666;
  font-size: 30px;
  height: 384px;
  width: 384px;
  /* background: #171515; */
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.outer .inner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}
.outer .inner::before {
  background: #1da1f2;
}
.outer .inner::before {
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}
.outer .inner {
  box-shadow: 0 0 15px #1da1f2;
}
.outer .inner {
  color: #26a4f2;
  box-shadow: 0 0 15px #1da1f2;
  text-shadow: 0 0 15px #1da1f2;
}
